<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>cadastro de clientes</title>
</head>     
<body>
    <h1>Clientes do mercadinho</h1>
    <form id="form1">
        <input type="hidden" id="id">

        <label for="nome">Nome</label>
        <input type="text" id="nome"><br>

        <label for="descricao">Descrição</label>    
        <input type="text" id="descricao"><br>

        <label for="quantidade">Quantidade</label>
        <input type="text" id="quantidade"><br>
        
        <label for="preco">Preço</label>
        <input type="text" id="preco"><br>


        <button id="btSalvar">Salvar</button>
    </form>
    <hr>
    <table border="1">
        <thead>
            <tr>
                <th>NOME</th>
                <th>DESCRIÇÃO</th>
                <th>QUANTIDADE</th>
                <th>PREÇO</th>
            </tr>
        </thead>
        <tbody id="tbody1">

        </tbody>
    </table>
</body>
<script src="manipula_interface_produtos.js" type="module"></script>
</html>